package pages

import "github.com/lucasmcclean/url-shortener/templates"

templ Index() {
	@templates.Document() {
		@templates.Head() {
			<title>URL Shortener</title>
			<link rel="stylesheet" href="/static/css/index.css"/>
		}
		<main>
			<h1>Welcome</h1>
		</main>
	}
}
