<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LimitL.ink | Admin</title>
    <link href="/static/css/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    <h1>LimitL.ink Admin Panel</h1>
    <p>Created at: {{ .CreatedAt }}</p>
    <p>Expires at: {{ .ExpiresAt }}</p>
    <p>Last updated: {{ .ExpiresAt }}</p>
    <p>Number of hits: {{ .HitCount }}</p>
    {{ if .MaxHits }}
    <p>Max hits: {{ .MaxHits }} {{ end }} {{ if .ValidFrom }}</p>

    <p>Valid starting at: {{ .MaxHits }} {{ end }}</p>
  </body>
</html>
