{{ define "new-link" }}
<div class="w-full max-w-2xl p-8 flex flex-col gap-4 text-lg">
  <h2 class="text-3xl font-bold text-text">Link Created!</h2>
  <p>
    Your secure link has been created! You can share the public link below with
    others, but keep the admin link private; it gives you access to edit or
    delete this link later.
  </p>
  <p>
    <b>New Link:</b>
    <a
      href="/{{ .Slug }}"
      target="_blank"
      class="text-secondary underline hover:opacity-80"
      >LimitL.ink/{{ .Slug }}</a
    >
  </p>
  <p>
    <b>Manage Link:</b>
    <a
      href="/admin/{{ .AdminToken }}"
      class="text-secondary underline hover:opacity-80"
      >LimitL.ink/admin/{{ .AdminToken }}</a
    >
  </p>
  <div class="w-full h-px bg-text"></div>
  <p><b>Destination URL:</b> {{ .Target }}</p>
</div>
{{ end }}
