<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LimitL.ink | Enter Password</title>
    <link href="/static/css/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Protected Link</h1>
    <form method="POST">
      <label
        >Password:
        <input type="password" name="password" required />
      </label>
      <button type="submit">Access Link</button>
    </form>
  </body>
</html>
