<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LimitL.ink | Enter Password</title>
    <link rel="icon" href="/static/img/favicon.ico" sizes="any" />
    <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
    <link href="/static/css/tailwind.css" rel="stylesheet" />
  </head>

  <body class="h-screen flex flex-col items-center justify-between">
    <div class="flex-1 flex flex-col items-center justify-center">
      <h1 class="py-8 text-4xl font-bold text-center font-display">
        Protected Link
      </h1>
      <form
        class="w-full max-w-xl px-8 text-xl flex flex-col items-center justify-center gap-4"
        method="POST"
      >
        <div class="w-full">
          <label class="ps-4" for="password">Password Required</label>
          <input
            type="password"
            id="password"
            name="password"
            class="w-full px-4 py-2 border rounded-lg"
            required
          />
        </div>

        <button
          type="submit"
          class="w-full font-bold my-4 py-2 px-6 text-text rounded-xl hover:bg-opacity-80 transition-colors bg-gradient-to-r from-accent to-secondary"
        >
          Access Link
        </button>
      </form>
    </div>

    <footer class="w-full px-16 py-8 flex justify-between">
      <p class="opacity-70">
        &copy; 2025 Lucas McClean &mdash; LimitLink&trade;
      </p>

      <p class="font-display text-accent tracking-widest">//LM</p>
    </footer>
  </body>
</html>
